<div> Months :
  <select>
    <option *ngFor="let i of months">{{i}}</option>
  </select>
  <p *ngIf="is_available; then true_condition else false_condition"></p>
  <ng-template #true_condition><p>Điều kiện đúng</p></ng-template>
  <ng-template #false_condition><p>Điều kiện sai</p></ng-template>
</div>
<div style = "width:100%;">
  <div style = "width:40%;float:left;border:solid 1px black;">
    <h1>Uppercase Pipe</h1>
    <b>{{title | uppercase}}</b><br/>

    <h1>Lowercase Pipe</h1>
    <b>{{title | lowercase}}</b>

    <h1>Currency Pipe</h1>
    <b> {{6589.23 | currency:"VND"}}</b><br/>
    <b> {{6589.23 | currency:"VND":true}}</b> // Giá trị true để hiển thị kí hiệu của tiền tệ.

    <h1>Date pipe</h1>
    <b>{{todaydate | date:'d/M/y'}}</b><br/>
    <b>{{todaydate | date:'shortTime'}}</b>

    <h1>Decimal Pipe</h1>
    <b>{{ 454.78787814 | number: '3.4-4' }}</b> // 3 là phần nguyên, 4-4 là phần thực
  </div>

  <div style = "width:40%;float:left;border:solid 1px black;">
    <h1>Json Pipe</h1>
    <b>{{ jsonval | json }}</b>
    <h1>Percent Pipe</h1>
    <b>{{0.54565 | percent}}</b>
    <h1>Slice Pipe</h1>
    <b>{{months | slice:2:6}}</b>
    // 2 và 6 là vị trí bắt đầu và vị trí kết thúc
  </div>
</div>
