<div *ngIf="product" >
  <h1>Update Product {{product.name}}:</h1>
  <form [formGroup]="productForm"  novalidate>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="product.name" formControlName="name" class="form-control" maxlength="20">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" [(ngModel)]="product.description" formControlName="description" rows="3" maxlength="50"></textarea>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" [(ngModel)]="product.price" formControlName="price" class="form-control">
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" [(ngModel)]="product.quantity" formControlName="quantity" class="form-control">
    </div>
    <button type="submit">Submit</button>
  </form>
  <button (click)="goBack()">go back</button>
</div>
