<h1>Movie's details: </h1>
<div><span>id: </span>{{movie.id}}</div>
<div><span>Name: </span>{{movie.name | uppercase}}</div>
<div><span>Release year: </span>{{movie.year}}</div>
<div style="margin: 10px; text-align: left;">
  <label>Movie name (data-binding one-way):
    <input [ngModel]="movie.name" placeholder="Enter movie's name">
  </label>
</div>
<div style="margin: 10px; text-align: left;">
  <label>Release year(data-binding two-way):
    <input [(ngModel)]="movie.year" placeholder="Enter release year"> <!--2 way binding-->
  </label>
</div>
<div class="parent">
  <ol class="movies">
    <li class="movieListItem"
        *ngFor="let eachMovie of movies"
        [class.selected]="eachMovie === selectedMovie"
        (click)="onSelect(eachMovie)">
      {{eachMovie.name}} - {{eachMovie.year}}
    </li>
  </ol>
  <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
<!--  <div *ngIf="selectedMovie" class="details">-->
<!--    <h3>You selected: {{selectedMovie.name}}. Details:</h3>-->
<!--    <table style="width: 100%">-->
<!--      <tr>-->
<!--        <td>name:</td>-->
<!--        <td><input [(ngModel)]="selectedMovie.name" placeholder="name"></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>release year: </td>-->
<!--        <input [(ngModel)]="selectedMovie.year" placeholder="release year">-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
</div>
